html, body
{
    margin: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 1.3125;
}

/* Typography */

h1, h2
{
    font-weight: 300;
    margin: 0;
}


h1 .accent-text
{
    font-size: 5rem;
    margin-bottom: 2rem;
}

.accent-text
{
    display: block;
}

h1, h2 .accent-text
{
    font-size: 3.75rem;
}

h2
{
    font-size: 2.625rem;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    padding: 1.5rem 0;
}

h3
{
    font-size: 2.25rem;
    margin-bottom: 0;
}

p, .small
{
    font-size: 1rem;
    line-height: 1.25rem;
}

.accent-text, .name, time
{
    font-weight: 900;
    color: #99D930;
}

/* Links */

a
{
    font-weight: 900;
    color: #99D930;
}

a:hover, a:focus
{
    color: #131313;
}

/* Buttons */

.btn
{
    display: inline-block;
    padding: .75rem 1.25rem;
    font-weight: 900;
    text-decoration: none;
    background: #99D930;
    color: #252525;
    transition: ease-in-out .3s;
}

.btn:hover, .btn:focus
{
    background: #252525;
    color: #FFF;
}

.inverse .btn:hover,
.inverse .btn:focus
{
    background: #FFF;
    color: #252525;
}

/* Layout */

.container
{
    max-width: 570px;
    margin: 0 auto;
}

header, section
{
    padding: 4rem 0;
}

.inverse
{
    background: #252525;
    color: #FFF;
}